* {
    box-sizing: border-box;
}

.homepage {
    background-color: rgba(230, 233, 233, 0.966);
    height: 97vh;
    width: 97vw;
    border-radius: 20px;
    padding: 10px;
}

/* ==================== SECTION ONE STYLING =============== */

.section-one {
    /* background-color: red; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.section-one div:first-child {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    margin-right: 200px;
}

.section-one div:last-child {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: end;
}

#profile-pic {
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.img {
    height: 30px;
}

#dropdown-basic {
    background-color: white;
    color: black;
    border-color: 1px solid black;
}

hr {
    margin-top: 0;
}

/* ========================= SECTION TWO STYLING ============== */

/* -----------------------------------css rules for the task ----------------------------------*/
.section-two {
    /* background-color: yellow; */
    height: 75%;
    display: flex;

    .table-area {
        height: 100%;
        width: 60%;
        /* background-color: aqua; */
    }

    .item-area {
        height: 100%;
        width: 45%;
        /* background-color: lightgreen; */
        padding: 2px;

        .items {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: rgb(240, 237, 237);
            padding: 10px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
        }

        .items::-webkit-scrollbar {
            width: 0;
        }
    }
}
/* ------------------------------------------------------------------ */

.part-one {
    background-color: whitesmoke;
    padding-bottom: 10px;
    border-radius: 10px;
}

.table-area-one {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-area-one img {
    height: 20px;
}

.bg-nested-dropdown {
    width: 260px;
    border-color: black;
}

.table-area-two {
    justify-content: space-between;
    display: flex;
    padding: 0 10px;
}

#bg-nested-dropdown {
    width: 220px;
    border-color: black;
}

.part-two {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
}

.part-three {
    background-color: whitesmoke;
    height: 30px;
    border-radius: 5px;
}

/* =================== SECTION THREE STYLING ======================= */
.section-three {
    /* background-color: green; */
    height: 15%;
    display: flex;
}

/* .section-three div {
    padding: 10px;
} */

/* --------------- Table side butoons ----------------- */

.section-three > div:first-child {
    /* background-color: yellow; */
    width: 60%;
    height: 100%;
}

.table-side-buttons {
    padding: 2px;
    display: flex;
    /* justify-content: space-evenly; */
}

.table-side-buttons > div {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.table-side-buttons > div Button {
    margin: 2px;
    height: 40%;
}

.font-format {
    font-size: 10px;
    text-align: left;
    /* align-items: center; */
    display: flex;
    justify-content: start;
    align-items: center;
}

/* ------------------------------------------------------ */

/* ----------------- Item side butoons ------------------ */
.section-three > div:last-child {
    /* background-color: orange; */
    width: 45%;
    height: 100%;
}

.item-side-buttons {
    padding: 2px;
    display: flex;
    /* justify-content: space-evenly; */
}

.item-side-buttons > div {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.item-side-buttons > div Button {
    margin: 2px;
    height: 40%;
}

.item-font-format {
    font-size: 12px;
    /* text-align: center; */
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button {
    height: 20px;
}

.green-color-button {
    background-color: rgb(55, 158, 55);
    color: black;
}

.yellow-color-button {
    background-color: rgb(253, 253, 17);
    color: black;
}
/* -------------------------------------------------- */
